/* Created by: kyle.matthew.magnaye
* Created on: Feb 2025
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: lightgreen;
}

.page-content {
  color: rgb(186, 34, 34);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: rgb(42, 197, 221);
}

img {
  float: right;
  height: 200px;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: lightgreen;
}

.page-content {
  color: rgb(186, 34, 34);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: rgb(42, 197, 221);
}

img {
  float: right;
  height: 200px;
}